.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 70ch;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 300px;
}
.close-modal {
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(69, 143, 100);
  cursor: pointer;
}
.close-modal:hover {
  background: rgba(69, 143, 100, 0.171);
}
